<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263763847727-qimdesgleappm2kf4kffqqvao3kavc4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263763847727-qimdesgleappm2kf4kffqqvao3kavc4r</string>
	<key>API_KEY</key>
	<string>AIzaSyALtpdS_zBMjkoMF-ZEEyZxuiiopq5vMY4</string>
	<key>GCM_SENDER_ID</key>
	<string>263763847727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.swift.toodoo.FiPay-eWallet</string>
	<key>PROJECT_ID</key>
	<string>projeto-blastoff---fipay</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-blastoff---fipay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263763847727:ios:cedb593bbe39c9fca8b4da</string>
	<key>DATABASE_URL</key>
	<string>https://projeto-blastoff---fipay-default-rtdb.firebaseio.com</string>
</dict>
</plist>